<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
    <Properties>
        <Property name="APP_LOG_ROOT">../logs/</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="FileLogger" filePattern="${APP_LOG_ROOT}/AIPOS %d{yyyy-MM-dd}.txt">
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="FileLogger" level="All"/>
            <AppenderRef ref="Console" level="all"/>
        </Root>
    </Loggers>
</Configuration>